{% extends "crud_template.html" %}

{% block options %}
    <option disabled selected>Field</option>
    <option>Name</option>
    <option>Type</option>
{% endblock %}

{% block headers %}
    <th class="tb-header left border">Name</th>
    <th class="tb-header left">Type</th>
{% endblock %}

{% block update_form %}
    <form id="update_form" action="/categories/forms/update" method="post">
        <input type="hidden" name= "id">
        <input type="hidden" name="name">
        <input type="hidden" name="category_type">
    </form>
{% endblock %}

{% block rows %}
    {% for row in results %}
        {% set row = row._asdict() %}
        <tr>
            <td class="checkbox-background"><input class="checkB" type="checkbox" name='{{row["id"]}}'></td>
            <td class="row-item left border" headers="name">{{row["name"]}}</td>
            <td class="row-item left" headers="type">{{row["type"]}}</td>
        </tr>
    {% endfor %}
{% endblock %}
