<!DOCTYPE html>
<html lang="en">
    <head>
        <!--Styles-->
        <link rel="stylesheet" href="/static/error.css">

        <!--Fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

        <!--General-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Something went wrong</title>
    </head>
    <body>
        <h1>{{code}}</h1>
        <p>{{message}}</p>
    </body>
</html>
