<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/nav.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!--Fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <title></title>
    </head>
    <body>
        <nav class="top-bar">
            <img class="logo" src="static/logo.png" width="180px" height="90px">
            <div class="top-bar right">
                <a class="top-bar link" href="#">Overview</a>
                <a class="top-bar link" href="#">Categories</a>
                <a class="top-bar link" href="#">Transactions</a>
                <a class="top-bar link" href="#">Exchanges</a>
            </div>
        </nav>
    </body>
</html>
