{% extends "header_form_template.html" %}
{% block form %}
    <form id="add_form" class="main-form">
        <input name="id" value="{{id}}" type="hidden">
        <input class="form-item-text" type="text" placeholder="Name" name="name" autocomplete="off" autofocus="true" value="{{name}}">
        <select class="form-dropdown" name="type">
            <option disabled selected>Type</option>
            <option {% if category_type == "Income" %} selected {% endif %}>Income</option>            
            <option {% if category_type == "Expense" %} selected {% endif %}>Expense</option>
        </select>
    </form>
    <button id="submit" class="form-button">Update Category</button>
{% endblock %}
